.alert {
  padding: 15px;
  margin-bottom: 12px;
  border: 1px solid transparent;
  border-radius: $borderRadius;
  font-size: 0.90rem;

  &--info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }

  hr {
    margin: 0.8rem 0;
    border: 0;
    border-top: 1px solid $subtleGrey;
  }

  li {
    margin-bottom: 4px;
  }

  p {
    margin: 0 0 12px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
