.frames {
  text-align: center;
  font-size: 0;
  margin-top: 20px;

  &__frame {
    width: 80px;
    height: 80px;
    display: inline-block;
    position: relative;
    border: 1px solid $subtleGrey;
    background-color: $lightFrame;
    margin-right: 10px;
    margin-top: 40px;
    border-radius: 5px;
    font-size: 1.2rem;

    &__title {
      position: absolute;
      top: -40px;
      height: 30px;
      line-height: 30px;
      left: 0;
      right: 0;
    }

    &__score {
      color: $subtleGrey;
    }

    &--finished {
      border-color: $mainAccent;
      color: $mainFont;
    }

    &--finished > &__score {
      color: $mainAccent;
    }

    &__roll {
      text-align: center;
      line-height: 40px;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
    }

    &__score {
      text-align: center;
      line-height: 40px;
      position: absolute;
      width: 100%;
      height: 40px;
      bottom: 0;
    }

    &__roll--1 {
      left: 0;
    }

    &__roll--2 {
      right: 0;
      border-left: 1px solid $subtleGrey;
      border-bottom: 1px solid $subtleGrey;
    }

  }

  &__frame:last-child {
    margin-right: 0;
  }

}
