.pins {
  text-align: center;
  padding: 1rem 0 0 0;

  .pins__pin {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: $mainAccent;
    margin: 5px 7px 0 7px;
    border-radius: $pinRadius;

    @mixin atSmall {
      margin: 6px 8px 0 8px;
      width: 20px;
      height: 20px;
    }

    &--knocked {
      background-color: $subtleGrey;
    }

  }

}
