.pins {
  text-align: center;
  padding: 1rem 0 0 0;

  .pins__pin {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $mainAccent;
    margin: 10px 10px 0 10px;
    border-radius: $pinRadius;

    &--knocked {
      background-color: $subtleGrey;
    }

  }

}
