.total-score {
  font-size: 1.5rem;
  line-height: 5em;

  &__number {
    padding: 0.5rem;
    margin: 0 0.5rem;
    line-height: 1rem;
    font-weight: 700;
    height: 100px;
    width: 50px;
    background-color: $lightFrame;
    border: 1px solid $subtleGrey;
    border-radius: $borderRadius;
  }

  &--finished &__number {
    border-color: $mainAccent;
    background-color: $mainAccent;
    color: $verySubtleGrey;
  }

}
